
.addressBox {
  display: flex;
  width: 260px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E4E7;
  border-radius: 48px;
  margin: 0 auto;
  div:first-child{
    height: 30px;
  }
  .centerText {
    margin-left: 4px;
    margin-right: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #3F3F46;
  }
  .addressText {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3F3F46;

  }
}

.textBox {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #18181B;
    margin-top: 16px;
  }
  .subTitle {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #71717A;
  }
}

.inputContainer {
  padding: 16px 0;
  .inputBox {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: left;
    margin-top: 16px;
    .title{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #18181B;
    }
    .inputValue {
      margin-top: 8px;
      height: 40px;
      border: 1px solid #E4E4E7;
      border-radius: 8px;
      display: flex;
      padding: 0 16px;
      align-items: center;
      input {
        border: none;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #18181B;
      }
      .eyesBox {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

  }

  .errorBox {
    padding: 12px;
    margin-top: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background-color: #FEF1F1;
    border-radius: 12px;
    color: #EF4343;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    .errorIcon {
      width: 13px;
      height: 13px;
      margin-right: 6px;
    }
  }
  .tipsText {
    padding: 12px;
    margin-top: 16px;
    background: #FDFDFD;
    border: 1px solid #E4E4E7;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #52525B;
  }
}

.btnBox {
  margin-top: 16px;
  height: 40px;
  .button {
    width: 100%;
    height: 40px;
  }
}